body {
  background: #fafafa;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
h1 {
  color: black;
  font-size: 20px;
  font-weight: bold;
}
button, .button {
  text-transform: inherit;
  text-align: center;
  color: #fff;
  font-size: 14px;
  border: 0;
  background: #f88017;
  border-radius: 2px;
  cursor: pointer;
}
.mixed-case {
  text-transform: none;
}